header {
    background: RGB(35, 43, 69);
    width: 100%;
    color: whitesmoke;
    height: fit-content;
    font-size: 48px;
    margin-bottom: 20px;
    border-bottom: rgb(132, 138, 170) solid 5px;
}

body {
    border: rgb(132, 138, 170);
}

#input {
    text-align: center;
    background: whitesmoke;
}

#question{
    text-align: center;
}

#next, #start {
    width: 200px;
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    margin-bottom: 10px;

}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

h2 {
    text-align: center;
}

#score {
    text-align: right;
}

.button-grid {
    margin-top: 100px;
}

.button-grid2 {
    margin-top: 20px;
}

#A, #B, #C, #D , #next, #start {
    width: 100%;
    
}

#start {
    background: green;
}

#A, #B, #C, #D {
    background: green;
}

.modal {
    display: block;  
}  

.modal-header {
    padding: 2px 16px;
    background-color: #586994;
    color: white;
}
  
.modal-body {padding: 2px 16px;
}
  
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

  @media only screen and (max-width: 600px) {
    body {
        background: rgb(35, 43, 43);
    }
    #start {
        background: rgb(35,69,61);
    } 
    
    .col {
        padding: 5px;
    }

    #next {
        background: RGB(35, 43, 69);
        margin-top: 10px;
        
        position: fixed;
        bottom: 0px;
        right: 0px;
        
    }

    #high-score{
        background: rgb(69,34,38);
    }
    
    #input{
        width: 328px;
        background: rgb(35, 43, 43);
        color: whitesmoke;
        border-radius: 15px;
    }
       
    
    .button-grid {
        margin-top: 20px;
    }

    .jumbotron{
        padding-top: 0;
        color: whitesmoke;
        height: 600px;
        background: rgb(35, 43, 43);
    }

    .modal-content {
        background: rgb(35, 43, 43);
    }

    #A, #B, #C, #D {
        background: rgb(35,69,61);
        height: 75px;
    }

    #timer {
        border: solid 1px;
        text-align: center;
        border-radius: 15px;
        background: rgb(132, 138, 170);
    }
    #score {
        border: solid 1px;
        text-align: center;
        border-radius: 15px;
    }
    #question{
        height: 152px;
    }
    .modal {
        display: block;  
    }  
    
    .modal-header {
        padding: 2px 16px;
        background-color:rgb(69,34,38);
        color: whitesmoke;
    }
      
    .modal-body {
        padding: 2px 16px;
    }
      
    .modal-content {
        position: relative;       
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
    #save{
       background: rgb(35, 43, 69);
       color: whitesmoke;
    }
    #user{
        width: 264px;
        font-size: 24px;
        text-align: center;
        border-radius: 15px;
    }
    #scoreList {
        color: whitesmoke;
    }
    h3 {
        color: whitesmoke;
        border-bottom: 5px solid whitesmoke;
    }
}